h1 {
    text-align: center;
    margin: 30px;

}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#summaryContainer{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    align-items: start;
    

    

    
}

details{
    min-width: 20%;
    max-width: 30%;
    background-color: rgb(243, 224, 198);
    box-shadow: 1px 1px 5px ;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    

    
    
}

summary{
    text-decoration: underline;
}
p{
    margin-bottom: 20px;}

