h1{
    text-align: center;
    margin: 20px 0;
}
#form-container{
    text-align: center;
}

#ADD{
    background-color: red;
    color : white;
    border: none;
    padding: 4px 20px ;
    cursor: pointer;
}
.del{
    cursor: pointer;
}

#list-container{
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#list-container > div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#total{
    margin-top: 20px;
}

